/* Global Styling */
* {
        font-family: "Monocraft";
        font-weight: normal;
        /*font-size: 13.9px;*/
        /* font-size: 13px; */
        /* min-height: 12px; */
}

@import "colors.css";

.main {
        background: @main-bg;
}

#custom-recording {
        color: @red;
}

#custom-updates {
        color: @spark;
        padding-right: 8px;
        margin-top: -4px;
        margin-bottom: -4px;
}

#submap {
        color: @workspace-fg;
        background: alpha(@workspace, 0);
}

menuitem {
        background: @tooltip-bg;
}

menu,
tooltip {
        color: @main-fg;
        background: @main-bg;
        /* background: @media; */
        border-radius: 0;
        border: 0;
}

/*----- MODULES --------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#workspaces button {
        color: alpha(@workspace-fg, 0.3);
        background: alpha(@workspace-fg, 0);
        transition: all 90ms ease-in-out;
        padding-right: 0px;
        min-width: 1px;
}
#workspaces button:hover {
        color: @workspace-fg;
}
#workspaces button.empty {
        color: alpha(@workspace-fg, 0.1);
        background: alpha(@workspace-fg, 0);
}
#workspaces button.active {
        color: @workspace-fg;
        background: alpha(@workspace-fg, 0);
}

#network {
        color: @pink;
}
#pulseaudio.muted {
        color: @red;
}
#backlight,
#pulseaudio {
        color: @text;
}
#cpu,
#memory,
#battery,
#temperature,
#custom-gpuinfo,
#custom-cpu_graph {
        color: @text;
        background: @crust;
        margin-top: 6px;
        margin-bottom: 6px;
}

/*----- LEVEL COLORS ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#cpu.good,
#memory.green,
#temperature {
        color: @text;
        background-color: @main-bg;
}
#cpu.warning,
#memory.warning,
#battery.warning {
        color: @yellow;
        background: @main-bg;
}
#cpu.critical,
#memory.critical,
#battery.critical,
#temperature.critical {
        color: @red;
        background: @main-bg;
}

/*----- BATTERY LEVEL COLORS -------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#battery.full {
        color: @green;
        background: @main-bg;
}
#battery.good {
        color: @green;
        background: @main-bg;
}
#battery.charging {
        color: @charging;
        background: @main-bg;
}

/*----- SOME ADJUSTMENTS -----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#custom-wifi {
        padding-right: 10px;
}
