/* Global Styling */
* {
        font-family: "Monocraft";
        font-weight: normal;
        /*font-size: 13.9px;*/
        font-size: 13px;
        min-height: 12px;
}

@import "colors.css";

.main {
        background: @main-bg;
}
#custom-recording {
        color: #f38ba8;
}
#custom-updates,
#language,
#submap {
        color: @spark;
        padding-right: 8px;
        margin-top: -4px;
        margin-bottom: -4px;
}
menuitem {
        background: @tooltip-bg;
}
menu,
tooltip {
        color: @main-fg;
        background: @main-bg;
        /* background: @media; */
        border-radius: 0;
        border: 0;
}

/* ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
/* MODULES */

#workspaces:hover,
#workspaces button:hover {
        color: @main-fg;
        background: @main-bg;
        border-radius: 0;
}
#workspaces button {
        color: @text;
}
#workspaces button.empty {
        color: @empty-fg;
}
#workspaces button.active {
        color: @red;
}
#workspaces button,
#workspaces button:hover,
#workspaces button.active {
        border: 0;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        margin-left: 6;
        margin-right: 6;
}

#network {
        color: @pink;
}

#cpu,
#memory,
#battery,
#backlight,
#pulseaudio,
#temperature,
#custom-gpuinfo {
        color: @text;
        background: @crust;
        margin-top: 6px;
        margin-bottom: 6px;
}

/* ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
/* LEVEL COLORS */

#cpu.good,
#memory.green,
#temperature {
        color: @text;
        background-color: @main-bg;
}
#cpu.warning,
#memory.warning,
#battery.warning {
        color: @yellow;
        background: @main-bg;
}
#cpu.critical,
#memory.critical,
#battery.critical,
#temperature.critical {
        color: @red;
        background: @main-bg;
}

/* ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
/* BATTERY LEVEL COLORS */

#battery.full {
        color: @green;
        background: @main-bg;
}
#battery.good {
        color: @green;
        background: @main-bg;
}
#battery.charging {
        color: @charging;
        background: @main-bg;
}

/* ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
/* SOME ADJUSTMENTS */

#custom-wifi {
        padding-right: 10px;
}
