[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Type=simple
ExecStart=/usr/bin/sh -c 'exec $(which kanata) -c $HOME/.config/kanata/config.kbd -p 10000'
Restart=no

[Install]
WantedBy=default.target
